*{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.ball.bubble {
  background-image: url(universe.jpg);
  opacity: 80%;
  background-size: cover;
  animation: bubble-anim 2s ease-out infinite; 
}
    
.stage {
  width: 400px;
  height: 400px;
}

body {
  width: 500px;
  margin: 20px auto;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/northernlights.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


@keyframes bubble-anim {
  0% {
    transform: scale(1); }

  20% {
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    transform: scale(1); } 
}

.bubble2{
  border-radius: 50%;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/northernlights.jpg);
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: 20px;
  opacity: 90%;
}

.bubble3{
  border-radius: 50%;
  background-image: url(universe.jpg);
  background-size: cover;
  width: 200px;
  height: 200px;
  margin: 20px;
  opacity: 90%;
}

.bubble4{
  border-radius: 50%;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/northernlights.jpg);
  background-size: cover;
  width: 100px;
  height: 100px;
  margin: 20px;
  opacity: 95%;
}

.wrapper {
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.triangle-canvas {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.triangle {
    fill: none;
    stroke: orange;
    stroke-width: 20;
    transform-origin: center center;
    animation: triangle-animation 10s linear infinite;
}

.triangle-1 {
    animation-delay: 0s;
    stroke: red;
}

.triangle-2 {
    animation-delay: -0.5s;
}

.triangle-3 {
    animation-delay: -1s;
}

.triangle-4 {
    animation-delay: -1.5s;
    stroke: red;
}

.triangle-5 {
    animation-delay: -2s;
}

.triangle-6 {
    animation-delay: -2.5s;
}

.triangle-7 {
    animation-delay: -3s;
    stroke: red;
}

.triangle-8 {
    animation-delay: -3.5s;
}

.triangle-9 {
    animation-delay: -4s;
}

.triangle-10 {
    animation-delay: -4.5s;
    stroke: red;
}

.triangle-11 {
    animation-delay: -5s;
}

.triangle-12 {
    animation-delay: -5.5s;
}

.triangle-13 {
    animation-delay: -6s;
    stroke: red;
}

.triangle-14 {
    animation-delay: -6.5s;
}

.triangle-15 {
    animation-delay: -7s;
}

.triangle-16 {
    animation-delay: -7.5s;
    stroke: red;
}

.triangle-17 {
    animation-delay: -8s;
}

.triangle-18 {
    animation-delay: -8.5s;
}

.triangle-19 {
    animation-delay: -9s;
    stroke: red;
}

.triangle-20 {
    animation-delay: -9.5s;
}

@keyframes triangle-animation{
    0%{
        transform: scale(0) rotate(0deg);
        opacity: 0.7;
    }
    
    100%{
        transform: scale(3) rotate(360deg);
        opacity: 0;
    }
}